<a href="https://colab.research.google.com/github/muroo123/python/blob/main/python_basic_section1_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C(%ED%92%80%EC%9D%B4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print 기초

#1 화면에 Hello World 문자열을 출력하세요.
print("Hello World")

#2 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cosmetics")

#3 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야"
print('신씨가 소리질렀다. "도둑이야"')

#4 화면에 C:\Windows를 출력하세요.
print('C:\Windows')

Hello World
Mary's cosmetics
신씨가 소리질렀다. "도둑이야"
C:\Windows

In [ ]:
# print format

# 2024 값을 갖는 정수 객체 year를 사용하여 '올해는 2024년입니다.'을 출력한다
# 출력은 print(,), % 연산자, format 메서드, f-string 사용하여 4가지 방법으로 출력하세요.
# %d : 10진 정수,  %f : 실수(float), %s : 문자열(str)

year = 2024
print("올해는", year,"년 입니다.")
print("올해는 %d년 입니다."% (year))
print("올해는 {}년 입니다.".format(year))
print(f"올해는 {year}년 입니다.")

올해는 2024 년 입니다.
올해는 2024년 입니다.
올해는 2024년 입니다.
올해는 2024년 입니다.

In [ ]:
# input 기초

# 1. 문자열 "Python" 입력받아 그대로 출력하기
a = input()
print(a, type(a))

# 2. 정수 50 입력받아 int로 변환하여 출력하기
a = int(input())
print(a, type(a))

# 3. 실수 12.34 입력받아 변환하여 출력하기
a = float(input())
print(a, type(a))

# 4. bool True 입력받아 변환하여 출력하기
a = bool(input())
print(a, type(a))

Python
Python <class 'str'>
50
50 <class 'int'>
12.34
12.34 <class 'float'>
True
True <class 'bool'>

In [ ]:
# input 연습

# 정수 2개를 입력 받아 더하기(+) 계산하여 출력하기
# print 4가지 방법을 사용하세요.

a = int(input("첫번째 숫자를 입력하세요"))
b = int(input("두번째 숫자를 입력하세요"))

print(a, b,"두 수의 합은", a+b,"입니다.")
print("%d %d 두 수의 합은 %d 입니다." % (a,b,a+b))
print("{} {} 두 수의 합은 {} 입니다.".format(a,b,a+b))
print(f"{a} {b} 두 수의 합은 {a+b} 입니다.")

첫번째 숫자를 입력하세요10
두번째 숫자를 입력하세요50
10 50 두 수의 합은 60 입니다.
10 50 두 수의 합은 60 입니다.
10 50 두 수의 합은 60 입니다.
10 50 두 수의 합은 60 입니다.

In [ ]:
# Container 자료형
# list, tuple, set,dictionary 에 1 값을 넣으세요. dictionary('one':1)

#     tuple : (1,)
#     list  : [1]
#     set   : {1}
#     dict  : {'one': 1}  ->   {'apple':'사과', key:value}
a = [1]
b = (1,)
c = {1}
d = {'one':1}
print(type(a), a)
print(type(b), b)
print(type(c), c)
print(type(d), d)

<class 'list'> [1]
<class 'tuple'> (1,)
<class 'set'> {1}
<class 'dict'> {'one': 1}